<a href="https://colab.research.google.com/github/JOyongho4/DARTB4/blob/main/KoreanHealthRecords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [59]:
# 코렙 한글깨짐 방지
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

# 데이터 시각화에 사용할 라이브러리
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# 브라우저에서 바로 그려지도록
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [60]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
plt.ion()

import warnings

In [61]:
R1=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_01_data.csv')
R2=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_02_data.csv')
R3=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_03_data.csv')
R4=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_04_data.csv')
R5=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_05_data.csv')

In [62]:
R1.head(3)

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1,2,3,4,0,...,80,5.6,82,0.7,30,38,154,35,126,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3,2,3,4,0,...,118,5.5,130,1.1,46,75,214,44,169,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2,2,2,3,0,...,90,5.2,83,0.9,29,45,130,27,134,7.9

In [63]:
R2.head(3)

,T00_ID,T00_DATA_CLASS,T02_EDATE,T02_AGE,T02_MARRY,T02_DRINK,T02_TAKFQ,T02_TAKAM,T02_RICEFQ,T02_RICEAM,...,T02_DBP,T02_HBA1C,T02_GLU0,T02_CREATININE,T02_AST,T02_ALT,T02_TCHL,T02_HDL,T02_TG,T02_INS0
0,K_FOLLOW_0001,F05,200609,58,66666,2,0,77777.0,0,77777.0,...,70,99999.0,90,99999.0,17,14,202,40,118,4.2
1,K_FOLLOW_0002,F19,200510,41,2,3,0,77777.0,0,77777.0,...,86,6.4,99999,1.1,91,123,200,42,180,99999.0
2,K_FOLLOW_0003,F05,200505,54,66666,3,0,77777.0,0,77777.0,...,92,99999.0,90,1.2,33,38,141,31,93,11.1

In [64]:
# 행열 개수 확인
print(R1.shape)
print(R2.shape)
print(R3.shape)
print(R4.shape)
print(R5.shape)

(1000, 64)
(985, 55)
(953, 55)
(899, 55)
(698, 55)

In [65]:
# 66666,99999는 결측치와 같음. 이 둘은 null값으로 변환, 77777은 0과 같음. 이는 0으로 변환
R1.replace(66666,np.nan,inplace=True)
R1.replace(99999,np.nan,inplace=True)
R1.replace(77777,0,inplace=True)
R1.head(10)

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1.0,2.0,3.0,4.0,0.0,...,80,5.6,82.0,0.7,30,38,154,35,126.0,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3.0,2.0,3.0,4.0,0.0,...,118,5.5,130.0,1.1,46,75,214,44,169.0,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2.0,2.0,2.0,3.0,0.0,...,90,5.2,83.0,0.9,29,45,130,27,134.0,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2.0,2.0,1.0,0.0,0.0,...,90,5.6,89.0,0.6,35,34,182,47,123.0,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3.0,2.0,3.0,4.0,0.0,...,79,6.9,95.0,1.0,52,33,203,36,277.0,2.7
5,K_FOLLOW_0006,F18,200401,1,50,3.0,2.0,3.0,4.0,2.0,...,96,NaN,93.0,1.1,25,24,215,47,159.0,8.6
6,K_FOLLOW_0007,F05,200410,2,48,3.0,2.0,3.0,1.0,0.0,...,67,5.1,95.0,0.8,30,20,229,66,64.0,5.4
7,K_FOLLOW_0008,F16,200308,2,48,3.0,2.0,1.0,0.0,0.0,...,55,NaN,270.0,0.9,21,18,161,55,75.0,NaN
8,K_FOLLOW_0009,F18,200301,1,42,5.0,2.0,3.0,4.0,1.0,...,92,NaN,96.0,0.9,18,14,165,53,199.0,8.1
9,K_FOLLOW_0010,F01,200312,2,62,1.0,3.0,1.0,0.0,0.0,...,90,NaN,81.0,0.9,25,23,247,59,184.0,9.6

In [66]:
# 1차적으로 의미없는 개인식별 번호, 설문날짜, 진단나이 제거
R1_1=R1.drop(columns=['T00_ID','T00_DATA_CLASS','T01_EDATE','T01_MARRY','T01_DMAG'])

In [67]:
# 정보확인
R1_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 59 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   T00_SEX         1000 non-null   int64
 1   T01_AGE         1000 non-null   int64
 2   T01_EDU         993 non-null    float64
 3   T01_DRINK       993 non-null    float64
 4   T01_DRDU        964 non-null    float64
 5   T01_TAKFQ       987 non-null    float64
 6   T01_TAKAM       987 non-null    float64
 7   T01_RICEFQ      988 non-null    float64
 8   T01_RICEAM      985 non-null    float64
 9   T01_WINEFQ      987 non-null    float64
 10  T01_WINEAM      985 non-null    float64
 11  T01_SOJUFQ      983 non-null    float64
 12  T01_SOJUAM      982 non-null    float64
 13  T01_BEERFQ      988 non-null    float64
 14  T01_BEERAM      986 non-null    float64
 15  T01_HLIQFQ      988 non-null    float64
 16  T01_HLIQAM      987 non-null    float64
 17  T01_SMOKE       991 non-null    float64
 18  T01_SMAG        962 non-null    float64
 19  T01_SMDU        962 non-null    float64
 20  T01_SMAM        971 non-null    float64
 21  T01_PSM         943 non-null    float64
 22  T01_EXER        1000 non-null   int64
 23  T01_HTN         1000 non-null   int64
 24  T01_HTNAG       997 non-null    float64
 25  T01_DM          1000 non-null   int64
 26  T01_LIP         1000 non-null   int64
 27  T01_LIPAG       998 non-null    float64
 28  T01_FMFHT       1000 non-null   int64
 29  T01_FMFHTAG     982 non-null    float64
 30  T01_FMMHT       1000 non-null   int64
 31  T01_FMMHTAG     975 non-null    float64
 32  T01_FMFDM       1000 non-null   int64
 33  T01_FMFDMAG     993 non-null    float64
 34  T01_FMMDM       1000 non-null   int64
 35  T01_FMMDMAG     987 non-null    float64
 36  T01_MNSAG       995 non-null    float64
 37  T01_PREG        999 non-null    float64
 38  T01_FPREGAG     997 non-null    float64
 39  T01_CHILD       999 non-null    float64
 40  T01_FLABAG      997 non-null    float64
 41  T01_PMYN_C      994 non-null    float64
 42  T01_PMAG_C      963 non-null    float64
 43  T01_HEIGHT      1000 non-null   int64
 44  T01_WEIGHT      1000 non-null   int64
 45  T01_WAIST       998 non-null    float64
 46  T01_HIP         997 non-null    float64
 47  T01_PULSE       956 non-null    float64
 48  T01_SBP         1000 non-null   int64
 49  T01_DBP         1000 non-null   int64
 50  T01_HBA1C       682 non-null    float64
 51  T01_GLU0        988 non-null    float64
 52  T01_CREATININE  1000 non-null   float64
 53  T01_AST         1000 non-null   int64
 54  T01_ALT         1000 non-null   int64
 55  T01_TCHL        1000 non-null   int64
 56  T01_HDL         1000 non-null   int64
 57  T01_TG          999 non-null    float64
 58  T01_INS0        804 non-null    float64
dtypes: float64(41), int64(18)
memory usage: 461.1 KB

In [68]:
# T01_ 전부 제거
R1_1.columns = R1_1.columns.str.replace('T01_', '', regex=False)

# 칼럼이 너무 많아 유사한 것들끼리 묶었음
R1_1_DRINK, SMOKE, HTN, LIP, FAM, BODY

In [69]:
# 술과 관련된 칼럼들만 모았음
R1_1_DRINK=R1_1[['DM','DRINK','TAKFQ','TAKAM','RICEFQ','RICEAM','WINEFQ','WINEAM','SOJUFQ','SOJUAM','BEERFQ','BEERAM','HLIQFQ','HLIQAM']]
R1_1_DRINK.head(3)

,DM,DRINK,TAKFQ,TAKAM,RICEFQ,RICEAM,WINEFQ,WINEAM,SOJUFQ,SOJUAM,BEERFQ,BEERAM,HLIQFQ,HLIQAM
0,1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0
1,1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,24.0,1.0,10.0,0.0,0.0
2,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [70]:
# 흡연과 관련된 칼럼만 모았음
R1_1_SMOKE=R1_1[['DM','SMOKE','SMDU','PSM']]
R1_1_SMOKE.head(3)

   DM  SMOKE  SMDU  PSM
0   1    3.0  40.0  2.0
1   1    2.0  20.0  1.0
2   1    2.0  15.0  1.0

In [71]:
# 고혈압과 관련된 칼럼만 모았음
R1_1_HTN=R1_1[['DM','HTN','HTNAG']]
R1_1_HTN.head(3)

   DM  HTN  HTNAG
0   1    1    0.0
1   1    1    0.0
2   1    2   51.0

In [72]:
# 고지혈증과 관련된 칼럼만 모았음
R1_1_LIP=R1_1[['DM','LIP','LIPAG']]
R1_1_LIP.head(3)

   DM  LIP  LIPAG
0   1    1    0.0
1   1    1    0.0
2   1    1    0.0

In [73]:
# 가족력과 관련된 칼럼만 모았음
R1_1_FAM=R1_1[['DM','FMFHT','FMFHTAG','FMMHT','FMMHTAG','FMFDM','FMFDMAG','FMMDM','FMMDMAG']]
R1_1_FAM.head(3)

   DM  FMFHT  FMFHTAG  FMMHT  FMMHTAG  FMFDM  FMFDMAG  FMMDM  FMMDMAG
0   1      1      0.0      1      0.0      1      0.0      1      0.0
1   1      1      0.0      1      0.0      1      0.0      1      0.0
2   1      1      0.0      1      0.0      1      0.0      1      0.0

In [74]:
# 신체정보와 관련된 칼럼만 모았음
R1_1_BODY=R1_1[['PMYN_C','PMAG_C','DM','HEIGHT','WEIGHT','WAIST','PULSE','HIP','SBP','DBP','HBA1C','GLU0','CREATININE','AST','ALT','TCHL','HDL','TG','INS0']]
R1_1_BODY.head(3)

,PMYN_C,PMAG_C,DM,HEIGHT,WEIGHT,WAIST,PULSE,HIP,SBP,DBP,HBA1C,GLU0,CREATININE,AST,ALT,TCHL,HDL,TG,INS0
0,0.0,0.0,1,159,50,71.0,61.0,81.0,130,80,5.6,82.0,0.7,30,38,154,35,126.0,6.7
1,0.0,0.0,1,169,94,100.0,72.0,109.0,172,118,5.5,130.0,1.1,46,75,214,44,169.0,4.3
2,0.0,0.0,1,165,63,86.0,60.0,86.0,140,90,5.2,83.0,0.9,29,45,130,27,134.0,7.9

# 술관련 으로만 EDA

In [75]:
R1_1_DRINK.head(3)

,DM,DRINK,TAKFQ,TAKAM,RICEFQ,RICEAM,WINEFQ,WINEAM,SOJUFQ,SOJUAM,BEERFQ,BEERAM,HLIQFQ,HLIQAM
0,1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,4.0,3.0,0.0,0.0,0.0,0.0
1,1,3.0,0.0,0.0,0.0,0.0,0.0,0.0,5.0,24.0,1.0,10.0,0.0,0.0
2,1,2.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [76]:
# 결측치 확인
print(R1_1_DRINK.isnull().sum())

DM         0
DRINK      7
TAKFQ     13
TAKAM     13
RICEFQ    12
RICEAM    15
WINEFQ    13
WINEAM    15
SOJUFQ    17
SOJUAM    18
BEERFQ    12
BEERAM    14
HLIQFQ    12
HLIQAM    13
dtype: int64

In [77]:
R1_1_DRINK['DRINK'].value_counts()

DRINK
1.0    487
3.0    463
2.0     43
Name: count, dtype: int64

In [78]:
# 음주빈도가 모두 0이면 DRINK 결측치:1, 그렇지 않으면 DRINK 결측치:3으로 처리함
# 음주 빈도 칼럼들의 합계를 계산
drink_sum = (R1_1_DRINK['TAKFQ'].fillna(0) + R1_1_DRINK['RICEFQ'].fillna(0) +
             R1_1_DRINK['WINEFQ'].fillna(0) + R1_1_DRINK['SOJUFQ'].fillna(0) +
             R1_1_DRINK['BEERFQ'].fillna(0) + R1_1_DRINK['HLIQFQ'].fillna(0))

# 조건에 따라 DRINK 칼럼의 결측치 채우기
R1_1_DRINK['DRINK'] = np.where(drink_sum == 0,
                               R1_1_DRINK['DRINK'].fillna(1),  # 음주 빈도가 모두 0일 경우 결측치에 1 채움
                               R1_1_DRINK['DRINK'].fillna(3))  # 음주 빈도가 0이 아닐 경우 결측치에 3 채움

<ipython-input-78-1f876ef77069>:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R1_1_DRINK['DRINK'] = np.where(drink_sum == 0,

In [79]:
R1_1_DRINK['TAKFQ'].value_counts()

TAKFQ
0.0    932
1.0     26
4.0     10
2.0      9
6.0      5
3.0      3
5.0      2
Name: count, dtype: int64

In [80]:
# 0이 압도적으로 많기에 결측치 0으로 처리
R1_1_DRINK['TAKFQ']=R1_1_DRINK['TAKFQ'].fillna(0)

<ipython-input-80-4e0ae41f3876>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R1_1_DRINK['TAKFQ']=R1_1_DRINK['TAKFQ'].fillna(0)

In [81]:
R1_1_DRINK['TAKAM'].value_counts()

TAKAM
0.0    932
1.0     12
1.8      8
2.8      8
0.9      7
2.0      5
3.0      3
4.6      3
4.0      2
3.7      2
5.0      1
5.5      1
0.7      1
8.3      1
7.3      1
Name: count, dtype: int64

In [82]:
# TAKFG가 0이면 TAKAM 결측치 0으로 처리, 0이 아니면 0이 제외한 값의 평균으로 결측치 처리
mean_takam_excluding_zeros = R1_1_DRINK[R1_1_DRINK['TAKAM'] != 0]['TAKAM'].mean()
R1_1_DRINK.loc[R1_1_DRINK['TAKFQ'] == 0, 'TAKAM'] = 0
R1_1_DRINK['TAKAM'].fillna(round(mean_takam_excluding_zeros,1), inplace=True)
round(mean_takam_excluding_zeros,1)

<ipython-input-82-f9790db97c90>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R1_1_DRINK['TAKAM'].fillna(round(mean_takam_excluding_zeros,1), inplace=True)

2.4

In [102]:
R1_1_DRINK['RICEFQ'].value_counts()

RICEFQ
0.0    971
1.0      6
2.0      4
4.0      3
6.0      2
3.0      2
Name: count, dtype: int64

In [103]:
# 0으로 RICEFQ 결측치 처리
R1_1_DRINK['RICEFQ']=R1_1_DRINK['RICEFQ'].fillna(0)

<ipython-input-103-4707e24c8028>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  R1_1_DRINK['RICEFQ']=R1_1_DRINK['RICEFQ'].fillna(0)

In [84]:
R1_1_value=R1_1['DRINK'].value_counts()
R1_1_value

DRINK
1.0    487
3.0    463
2.0     43
Name: count, dtype: int64

In [85]:
# 음주유형과 당뇨병의 크로스탭
DM_DRINK=pd.crosstab(R1_1['DRINK'],R1_1['DM'])
DM_DRINK

DM       1   2
DRINK
1.0    450  37
2.0     41   2
3.0    433  30

**당뇨와 타 요소들의 평균간의 관계**

In [86]:
# 당뇨와 키간의 관계?
# 키는 큰 차이가 없다
DM_HEIGHT_AVG=R1_1.groupby('DM')['HEIGHT'].mean()
DM_HEIGHT_AVG

DM
1    159.331183
2    160.028571
Name: HEIGHT, dtype: float64

In [87]:
# 당뇨와 몸무게간의 관계?
DM_WEIGHT_AVG=R1_1.groupby('DM')['WEIGHT'].mean()
DM_WEIGHT_AVG

DM
1    62.589247
2    65.400000
Name: WEIGHT, dtype: float64

In [88]:
# 당뇨와 허리둘레간의 관계?
DM_WAIST_AVG=R1_1.groupby('DM')['WAIST'].mean()
DM_WAIST_AVG

DM
1    83.247845
2    87.857143
Name: WAIST, dtype: float64

In [89]:
# 당뇨와 맥박의 관계?
DM_PULSE_AVG=R1_1.groupby('DM')['PULSE'].mean()
DM_PULSE_AVG

DM
1    65.170787
2    69.712121
Name: PULSE, dtype: float64

In [90]:
# 당뇨와 엉덩이둘레간의 관계?
DM_HIP_AVG=R1_1.groupby('DM')['HIP'].mean()
DM_HIP_AVG

DM
1    93.880259
2    94.057143
Name: HIP, dtype: float64

In [91]:
# 당뇨와 수축기혈압간의 관계?
DM_SBP_AVG=R1_1.groupby('DM')['SBP'].mean()
DM_SBP_AVG

DM
1    123.224731
2    125.142857
Name: SBP, dtype: float64

In [92]:
# 당뇨와 이완기혈압간의 관계?
DM_DBP_AVG=R1_1.groupby('DM')['DBP'].mean()
DM_DBP_AVG

DM
1    80.791398
2    79.114286
Name: DBP, dtype: float64

In [93]:
# 당뇨와 HBA1C간의 관계?
DM_HBA1C_AVG=R1_1.groupby('DM')['HBA1C'].mean()
DM_HBA1C_AVG

DM
1    5.608937
2    7.360606
Name: HBA1C, dtype: float64

In [94]:
# 당뇨와 GLU0간의 관계?
DM_GLU0_AVG=R1_1.groupby('DM')['GLU0'].mean()
DM_GLU0_AVG

DM
1     87.339074
2    136.796610
Name: GLU0, dtype: float64

In [95]:
# 당뇨와 CREATININE간의 관계?
DM_CREATININE_AVG=R1_1.groupby('DM')['CREATININE'].mean()
DM_CREATININE_AVG

DM
1    0.871935
2    0.935714
Name: CREATININE, dtype: float64

In [96]:
# 당뇨와 AST간의 관계?
DM_AST_AVG=R1_1.groupby('DM')['AST'].mean()
DM_AST_AVG

DM
1    27.802151
2    25.614286
Name: AST, dtype: float64

In [97]:
# 당뇨와 ALT간의 관계?
DM_ALT_AVG=R1_1.groupby('DM')['ALT'].mean()
DM_ALT_AVG

DM
1    25.551613
2    26.100000
Name: ALT, dtype: float64

In [98]:
# 당뇨와 TCHL간의 관계?
DM_TCHL_AVG=R1_1.groupby('DM')['TCHL'].mean()
DM_TCHL_AVG

DM
1    191.823656
2    190.257143
Name: TCHL, dtype: float64

In [99]:
# 당뇨와 HDL간의 관계?
DM_HDL_AVG=R1_1.groupby('DM')['HDL'].mean()
DM_HDL_AVG

DM
1    44.934409
2    41.557143
Name: HDL, dtype: float64

In [100]:
# 당뇨와 TG간의 관계?
DM_TG_AVG=R1_1.groupby('DM')['TG'].mean()
DM_TG_AVG

DM
1    152.550054
2    185.728571
Name: TG, dtype: float64

In [101]:
# 당뇨와 INS0간의 관계?
DM_INS0_AVG=R1_1.groupby('DM')['INS0'].mean()
DM_INS0_AVG

DM
1    7.739249
2    8.334375
Name: INS0, dtype: float64