<a href="https://colab.research.google.com/github/JOyongho4/DARTB4/blob/main/KoreanHealthRecords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# 코렙 한글깨짐 방지
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

# 데이터 시각화에 사용할 라이브러리
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# 브라우저에서 바로 그려지도록
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
plt.ion()

import warnings

In [43]:
R1=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_01_data.csv')
R2=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_02_data.csv')
R3=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_03_data.csv')
R4=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_04_data.csv')
R5=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_05_data.csv')

In [44]:
R1.head()

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1,2,3,4,0,...,80,5.6,82,0.7,30,38,154,35,126,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3,2,3,4,0,...,118,5.5,130,1.1,46,75,214,44,169,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2,2,2,3,0,...,90,5.2,83,0.9,29,45,130,27,134,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2,2,1,77777,0,...,90,5.6,89,0.6,35,34,182,47,123,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3,2,3,4,0,...,79,6.9,95,1.0,52,33,203,36,277,2.7

In [45]:
R2.head()

,T00_ID,T00_DATA_CLASS,T02_EDATE,T02_AGE,T02_MARRY,T02_DRINK,T02_TAKFQ,T02_TAKAM,T02_RICEFQ,T02_RICEAM,...,T02_DBP,T02_HBA1C,T02_GLU0,T02_CREATININE,T02_AST,T02_ALT,T02_TCHL,T02_HDL,T02_TG,T02_INS0
0,K_FOLLOW_0001,F05,200609,58,66666,2,0,77777.0,0,77777.0,...,70,99999.0,90,99999.0,17,14,202,40,118,4.2
1,K_FOLLOW_0002,F19,200510,41,2,3,0,77777.0,0,77777.0,...,86,6.4,99999,1.1,91,123,200,42,180,99999.0
2,K_FOLLOW_0003,F05,200505,54,66666,3,0,77777.0,0,77777.0,...,92,99999.0,90,1.2,33,38,141,31,93,11.1
3,K_FOLLOW_0004,F05,200704,62,66666,1,0,77777.0,0,77777.0,...,88,99999.0,106,0.7,20,17,194,53,109,18.8
4,K_FOLLOW_0005,F19,200601,51,2,3,0,77777.0,0,77777.0,...,79,99999.0,124,1.1,25,12,148,43,155,99999.0

In [46]:
print(R1.shape)
print(R2.shape)
print(R3.shape)
print(R4.shape)
print(R5.shape)

(1000, 64)
(985, 55)
(953, 55)
(899, 55)
(698, 55)

In [53]:
R1.replace(66666,np.nan,inplace=True)
R1.replace(99999,np.nan,inplace=True)
R1.replace(77777,0,inplace=True)
R1.head(10)

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1.0,2.0,3.0,4.0,0.0,...,80,5.6,82.0,0.7,30,38,154,35,126.0,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3.0,2.0,3.0,4.0,0.0,...,118,5.5,130.0,1.1,46,75,214,44,169.0,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2.0,2.0,2.0,3.0,0.0,...,90,5.2,83.0,0.9,29,45,130,27,134.0,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2.0,2.0,1.0,0.0,0.0,...,90,5.6,89.0,0.6,35,34,182,47,123.0,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3.0,2.0,3.0,4.0,0.0,...,79,6.9,95.0,1.0,52,33,203,36,277.0,2.7
5,K_FOLLOW_0006,F18,200401,1,50,3.0,2.0,3.0,4.0,2.0,...,96,NaN,93.0,1.1,25,24,215,47,159.0,8.6
6,K_FOLLOW_0007,F05,200410,2,48,3.0,2.0,3.0,1.0,0.0,...,67,5.1,95.0,0.8,30,20,229,66,64.0,5.4
7,K_FOLLOW_0008,F16,200308,2,48,3.0,2.0,1.0,0.0,0.0,...,55,NaN,270.0,0.9,21,18,161,55,75.0,NaN
8,K_FOLLOW_0009,F18,200301,1,42,5.0,2.0,3.0,4.0,1.0,...,92,NaN,96.0,0.9,18,14,165,53,199.0,8.1
9,K_FOLLOW_0010,F01,200312,2,62,1.0,3.0,1.0,0.0,0.0,...,90,NaN,81.0,0.9,25,23,247,59,184.0,9.6

In [56]:
R1_1=R1.drop(columns=['T00_ID','T00_DATA_CLASS','T01_EDATE'])

In [57]:
R1_1

,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,T01_TAKAM,T01_RICEFQ,T01_RICEAM,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,1,56,1.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,...,80,5.6,82.0,0.7,30,38,154,35,126.0,6.7
1,1,40,3.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,...,118,5.5,130.0,1.1,46,75,214,44,169.0,4.3
2,1,52,2.0,2.0,2.0,3.0,0.0,0.0,0.0,0.0,...,90,5.2,83.0,0.9,29,45,130,27,134.0,7.9
3,2,60,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,90,5.6,89.0,0.6,35,34,182,47,123.0,12.6
4,1,49,3.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,...,79,6.9,95.0,1.0,52,33,203,36,277.0,2.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,1,64,1.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,61,5.7,75.0,1.0,24,17,151,36,176.0,6.3
996,1,63,3.0,2.0,3.0,2.0,0.0,0.0,0.0,0.0,...,91,NaN,96.0,1.1,21,18,149,33,114.0,11.7
997,1,41,5.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,...,65,5.6,89.0,0.9,23,26,273,36,83.0,8.7
998,2,69,1.0,2.0,3.0,4.0,0.0,0.0,0.0,0.0,...,93,NaN,88.0,0.9,22,13,206,43,210.0,NaN
999,2,45,2.0,2.0,1.0,0.0,0.0,0.0,0.0,0.0,...,76,5.6,84.0,0.7,29,45,239,44,174.0,10.8