<a href="https://colab.research.google.com/github/JOyongho4/DARTB4/blob/main/KoreanHealthRecords.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [41]:
# 코렙 한글깨짐 방지
!sudo apt-get install -y fonts-nanum
!sudo fc-cache -fv
!rm ~/.cache/matplotlib -rf

# 데이터 시각화에 사용할 라이브러리
import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

# 브라우저에서 바로 그려지도록
%matplotlib inline

# 그래프에 retina display 적용
%config InlineBackend.figure_format = 'retina'

# 유니코드에서  음수 부호설정
mpl.rc('axes', unicode_minus=False)

Reading package lists... Done
Building dependency tree... Done
Reading state information... Done
fonts-nanum is already the newest version (20200506-1).
0 upgraded, 0 newly installed, 0 to remove and 49 not upgraded.
/usr/share/fonts: caching, new cache contents: 0 fonts, 1 dirs
/usr/share/fonts/truetype: caching, new cache contents: 0 fonts, 3 dirs
/usr/share/fonts/truetype/humor-sans: caching, new cache contents: 1 fonts, 0 dirs
/usr/share/fonts/truetype/liberation: caching, new cache contents: 16 fonts, 0 dirs
/usr/share/fonts/truetype/nanum: caching, new cache contents: 12 fonts, 0 dirs
/usr/local/share/fonts: caching, new cache contents: 0 fonts, 0 dirs
/root/.local/share/fonts: skipping, no such directory
/root/.fonts: skipping, no such directory
/usr/share/fonts/truetype: skipping, looped directory detected
/usr/share/fonts/truetype/humor-sans: skipping, looped directory detected
/usr/share/fonts/truetype/liberation: skipping, looped directory detected
/usr/share/fonts/truetype/nanum: skipping, looped directory detected
/var/cache/fontconfig: cleaning cache directory
/root/.cache/fontconfig: not cleaning non-existent cache directory
/root/.fontconfig: not cleaning non-existent cache directory
fc-cache: succeeded

In [42]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('fivethirtyeight')
plt.ion()

import warnings

In [43]:
R1=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_01_data.csv')
R2=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_02_data.csv')
R3=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_03_data.csv')
R4=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_04_data.csv')
R5=pd.read_csv('https://raw.githubusercontent.com/JOyongho4/DARTB4/main/KoreanHealthRecords/follow_05_data.csv')

In [44]:
R1.head()

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1,2,3,4,0,...,80,5.6,82,0.7,30,38,154,35,126,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3,2,3,4,0,...,118,5.5,130,1.1,46,75,214,44,169,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2,2,2,3,0,...,90,5.2,83,0.9,29,45,130,27,134,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2,2,1,77777,0,...,90,5.6,89,0.6,35,34,182,47,123,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3,2,3,4,0,...,79,6.9,95,1.0,52,33,203,36,277,2.7

In [45]:
R2.head()

,T00_ID,T00_DATA_CLASS,T02_EDATE,T02_AGE,T02_MARRY,T02_DRINK,T02_TAKFQ,T02_TAKAM,T02_RICEFQ,T02_RICEAM,...,T02_DBP,T02_HBA1C,T02_GLU0,T02_CREATININE,T02_AST,T02_ALT,T02_TCHL,T02_HDL,T02_TG,T02_INS0
0,K_FOLLOW_0001,F05,200609,58,66666,2,0,77777.0,0,77777.0,...,70,99999.0,90,99999.0,17,14,202,40,118,4.2
1,K_FOLLOW_0002,F19,200510,41,2,3,0,77777.0,0,77777.0,...,86,6.4,99999,1.1,91,123,200,42,180,99999.0
2,K_FOLLOW_0003,F05,200505,54,66666,3,0,77777.0,0,77777.0,...,92,99999.0,90,1.2,33,38,141,31,93,11.1
3,K_FOLLOW_0004,F05,200704,62,66666,1,0,77777.0,0,77777.0,...,88,99999.0,106,0.7,20,17,194,53,109,18.8
4,K_FOLLOW_0005,F19,200601,51,2,3,0,77777.0,0,77777.0,...,79,99999.0,124,1.1,25,12,148,43,155,99999.0

In [58]:
# 행열 개수 확인
print(R1.shape)
print(R2.shape)
print(R3.shape)
print(R4.shape)
print(R5.shape)

(1000, 64)
(985, 55)
(953, 55)
(899, 55)
(698, 55)

In [59]:
# 66666,99999는 결측치와 같음. 이 둘은 null값으로 변환, 77777은 0과 같음. 이는 0으로 변환
R1.replace(66666,np.nan,inplace=True)
R1.replace(99999,np.nan,inplace=True)
R1.replace(77777,0,inplace=True)
R1.head(10)

,T00_ID,T00_DATA_CLASS,T01_EDATE,T00_SEX,T01_AGE,T01_EDU,T01_MARRY,T01_DRINK,T01_DRDU,T01_TAKFQ,...,T01_DBP,T01_HBA1C,T01_GLU0,T01_CREATININE,T01_AST,T01_ALT,T01_TCHL,T01_HDL,T01_TG,T01_INS0
0,K_FOLLOW_0001,F05,200412,1,56,1.0,2.0,3.0,4.0,0.0,...,80,5.6,82.0,0.7,30,38,154,35,126.0,6.7
1,K_FOLLOW_0002,F19,200401,1,40,3.0,2.0,3.0,4.0,0.0,...,118,5.5,130.0,1.1,46,75,214,44,169.0,4.3
2,K_FOLLOW_0003,F05,200309,1,52,2.0,2.0,2.0,3.0,0.0,...,90,5.2,83.0,0.9,29,45,130,27,134.0,7.9
3,K_FOLLOW_0004,F05,200504,2,60,2.0,2.0,1.0,0.0,0.0,...,90,5.6,89.0,0.6,35,34,182,47,123.0,12.6
4,K_FOLLOW_0005,F19,200402,1,49,3.0,2.0,3.0,4.0,0.0,...,79,6.9,95.0,1.0,52,33,203,36,277.0,2.7
5,K_FOLLOW_0006,F18,200401,1,50,3.0,2.0,3.0,4.0,2.0,...,96,NaN,93.0,1.1,25,24,215,47,159.0,8.6
6,K_FOLLOW_0007,F05,200410,2,48,3.0,2.0,3.0,1.0,0.0,...,67,5.1,95.0,0.8,30,20,229,66,64.0,5.4
7,K_FOLLOW_0008,F16,200308,2,48,3.0,2.0,1.0,0.0,0.0,...,55,NaN,270.0,0.9,21,18,161,55,75.0,NaN
8,K_FOLLOW_0009,F18,200301,1,42,5.0,2.0,3.0,4.0,1.0,...,92,NaN,96.0,0.9,18,14,165,53,199.0,8.1
9,K_FOLLOW_0010,F01,200312,2,62,1.0,3.0,1.0,0.0,0.0,...,90,NaN,81.0,0.9,25,23,247,59,184.0,9.6

**당뇨여부와 여러 칼럼들 간의 관계를 파악**

In [106]:
# 1차적으로 의미없는 개인식별 번호, 설문날짜, 진단나이 제거
R1_1=R1.drop(columns=['T00_ID','T00_DATA_CLASS','T01_EDATE','T01_MARRY','T01_DMAG','T01_LIPAG','T01_FMFHTAG','T01_FMMHTAG','T01_FMFDMAG','T01_FMMDMAG','T01_PMAG_C',])

In [108]:
from pandas_profiling import ProfileReport
profile = ProfileReport(R1, title="Pandas Profiling Report")
profile.to_notebook_iframe()

ModuleNotFoundError: No module named 'pandas_profiling'

In [107]:
# 정보확인
R1_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 53 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   T00_SEX         1000 non-null   int64
 1   T01_AGE         1000 non-null   int64
 2   T01_EDU         993 non-null    float64
 3   T01_DRINK       993 non-null    float64
 4   T01_DRDU        964 non-null    float64
 5   T01_TAKFQ       987 non-null    float64
 6   T01_TAKAM       987 non-null    float64
 7   T01_RICEFQ      988 non-null    float64
 8   T01_RICEAM      985 non-null    float64
 9   T01_WINEFQ      987 non-null    float64
 10  T01_WINEAM      985 non-null    float64
 11  T01_SOJUFQ      983 non-null    float64
 12  T01_SOJUAM      982 non-null    float64
 13  T01_BEERFQ      988 non-null    float64
 14  T01_BEERAM      986 non-null    float64
 15  T01_HLIQFQ      988 non-null    float64
 16  T01_HLIQAM      987 non-null    float64
 17  T01_SMOKE       991 non-null    float64
 18  T01_SMAG        962 non-null    float64
 19  T01_SMDU        962 non-null    float64
 20  T01_SMAM        971 non-null    float64
 21  T01_PSM         943 non-null    float64
 22  T01_EXER        1000 non-null   int64
 23  T01_HTN         1000 non-null   int64
 24  T01_HTNAG       997 non-null    float64
 25  T01_DM          1000 non-null   int64
 26  T01_LIP         1000 non-null   int64
 27  T01_FMFHT       1000 non-null   int64
 28  T01_FMMHT       1000 non-null   int64
 29  T01_FMFDM       1000 non-null   int64
 30  T01_FMMDM       1000 non-null   int64
 31  T01_MNSAG       995 non-null    float64
 32  T01_PREG        999 non-null    float64
 33  T01_FPREGAG     997 non-null    float64
 34  T01_CHILD       999 non-null    float64
 35  T01_FLABAG      997 non-null    float64
 36  T01_PMYN_C      994 non-null    float64
 37  T01_HEIGHT      1000 non-null   int64
 38  T01_WEIGHT      1000 non-null   int64
 39  T01_WAIST       998 non-null    float64
 40  T01_HIP         997 non-null    float64
 41  T01_PULSE       956 non-null    float64
 42  T01_SBP         1000 non-null   int64
 43  T01_DBP         1000 non-null   int64
 44  T01_HBA1C       682 non-null    float64
 45  T01_GLU0        988 non-null    float64
 46  T01_CREATININE  1000 non-null   float64
 47  T01_AST         1000 non-null   int64
 48  T01_ALT         1000 non-null   int64
 49  T01_TCHL        1000 non-null   int64
 50  T01_HDL         1000 non-null   int64
 51  T01_TG          999 non-null    float64
 52  T01_INS0        804 non-null    float64
dtypes: float64(35), int64(18)
memory usage: 414.2 KB

In [66]:
R1_1_value=R1_1['T01_DRINK'].value_counts()
R1_1_value

T01_DRINK
1.0    487
3.0    463
2.0     43
Name: count, dtype: int64

In [75]:
# 음주유형과 당뇨병의 크로스탭
DM_DRINK=pd.crosstab(R1_1['T01_DRINK'],R1_1['T01_DM'])
DM_DRINK

T01_DM       1   2
T01_DRINK
1.0        450  37
2.0         41   2
3.0        433  30

**당뇨와 타 요소들의 평균간의 관계**

In [88]:
# 당뇨와 키간의 관계?
# 키는 큰 차이가 없다
DM_HEIGHT_AVG=R1_1.groupby('T01_DM')['T01_HEIGHT'].mean()
DM_HEIGHT_AVG

T01_DM
1    159.331183
2    160.028571
Name: T01_HEIGHT, dtype: float64

In [85]:
# 당뇨와 몸무게간의 관계?
DM_WEIGHT_AVG=R1_1.groupby('T01_DM')['T01_WEIGHT'].mean()
DM_WEIGHT_AVG

T01_DM
1    62.589247
2    65.400000
Name: T01_WEIGHT, dtype: float64

In [86]:
# 당뇨와 허리둘레간의 관계?
DM_WAIST_AVG=R1_1.groupby('T01_DM')['T01_WAIST'].mean()
DM_WAIST_AVG

T01_DM
1    83.247845
2    87.857143
Name: T01_WAIST, dtype: float64

In [87]:
# 당뇨와 맥박의 관계?
DM_PULSE_AVG=R1_1.groupby('T01_DM')['T01_PULSE'].mean()
DM_PULSE_AVG

T01_DM
1    65.170787
2    69.712121
Name: T01_PULSE, dtype: float64

In [89]:
# 당뇨와 엉덩이둘레간의 관계?
DM_HIP_AVG=R1_1.groupby('T01_DM')['T01_HIP'].mean()
DM_HIP_AVG

T01_DM
1    93.880259
2    94.057143
Name: T01_HIP, dtype: float64

In [90]:
# 당뇨와 수축기혈압간의 관계?
DM_SBP_AVG=R1_1.groupby('T01_DM')['T01_SBP'].mean()
DM_SBP_AVG

T01_DM
1    123.224731
2    125.142857
Name: T01_SBP, dtype: float64

In [91]:
# 당뇨와 이완기혈압간의 관계?
DM_DBP_AVG=R1_1.groupby('T01_DM')['T01_DBP'].mean()
DM_DBP_AVG

T01_DM
1    80.791398
2    79.114286
Name: T01_DBP, dtype: float64

In [93]:
# 당뇨와 HBA1C간의 관계?
DM_HBA1C_AVG=R1_1.groupby('T01_DM')['T01_HBA1C'].mean()
DM_HBA1C_AVG

T01_DM
1    5.608937
2    7.360606
Name: T01_HBA1C, dtype: float64

In [94]:
# 당뇨와 GLU0간의 관계?
DM_GLU0_AVG=R1_1.groupby('T01_DM')['T01_GLU0'].mean()
DM_GLU0_AVG

T01_DM
1     87.339074
2    136.796610
Name: T01_GLU0, dtype: float64

In [95]:
# 당뇨와 CREATININE간의 관계?
DM_CREATININE_AVG=R1_1.groupby('T01_DM')['T01_CREATININE'].mean()
DM_CREATININE_AVG

T01_DM
1    0.871935
2    0.935714
Name: T01_CREATININE, dtype: float64

In [98]:
# 당뇨와 AST간의 관계?
DM_AST_AVG=R1_1.groupby('T01_DM')['T01_AST'].mean()
DM_AST_AVG

T01_DM
1    27.802151
2    25.614286
Name: T01_AST, dtype: float64

In [99]:
# 당뇨와 ALT간의 관계?
DM_ALT_AVG=R1_1.groupby('T01_DM')['T01_ALT'].mean()
DM_ALT_AVG

T01_DM
1    25.551613
2    26.100000
Name: T01_ALT, dtype: float64

In [100]:
# 당뇨와 TCHL간의 관계?
DM_TCHL_AVG=R1_1.groupby('T01_DM')['T01_TCHL'].mean()
DM_TCHL_AVG

T01_DM
1    191.823656
2    190.257143
Name: T01_TCHL, dtype: float64

In [101]:
# 당뇨와 HDL간의 관계?
DM_HDL_AVG=R1_1.groupby('T01_DM')['T01_HDL'].mean()
DM_HDL_AVG

T01_DM
1    44.934409
2    41.557143
Name: T01_HDL, dtype: float64

In [102]:
# 당뇨와 TG간의 관계?
DM_TG_AVG=R1_1.groupby('T01_DM')['T01_TG'].mean()
DM_TG_AVG

T01_DM
1    152.550054
2    185.728571
Name: T01_TG, dtype: float64

In [105]:
# 당뇨와 INS0간의 관계?
DM_INS0_AVG=R1_1.groupby('T01_DM')['T01_INS0'].mean()
DM_INS0_AVG

T01_DM
1    7.739249
2    8.334375
Name: T01_INS0, dtype: float64